@import "tailwindcss";
.custom-scroll{
scrollbar-width:thin;
scrollbar-color:#06b6d4 transparent;
}

.custom-scroll::-webkit-scrollbar{
width:7px;
}

.custom-scroll::-webkit-scrollbar-track{
background:transparent;
}

.custom-scroll::-webkit-scrollbar-thumb{
background:linear-gradient(#06b6d4,#9333ea);
border-radius:20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
background:linear-gradient(#22d3ee,#ec4899);
}